<body>
    <ul id="navbar">
	<a href="#">
	<img class = "logo" alt = "logo" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/home-circle-green-512.png" />
	</a>     
	 <li><a href="#">Главная</a></li>
      <li><a href="#">Новости</a></li>	  
      <li><a routerLink="/rooms" routerLinkActive = "active">Наши номера</a></li>
	  <li><a href="#">Наша кухня</a></li>
	  <li><a href="#">Специальные предложения</a></li>
	  <li><a href="#">Контакты</a></li>
    </ul>
	 <router-outlet></router-outlet>
 </body>

