<p><img src="https://e1.am.phnx.pics/phnx/archidea/69/42/01/694201/image_main/ccd0fe71102f6135f7b55f7a69d1c4f5-quality_80Xresize_crop_1Xallow_enlarge_0Xw_780Xh_478.jpg" alt="host" 
   width="936" class="hostel">
  Небольшая, но очень уютная гостиница на берегу Онежского озера приглашает в гости каждого желающего отдохнуть на свежем воздухе, вдалеке от шумного города наедине с природой. 
  Приятным бонусом к прекрасным видам, просторным, чистым номерам и вежливому персоналу, будет поистине заслуживающпая внимания, кухня от одного из лучших шеф-поваров России.</p>
